form {
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  border: 2px, solid;
  border-radius: 7px;
  padding: 15px 10px;
  width: 376px;
  input {
    padding: 4px;
  }
}
label:last-of-type {
  margin-top: 15px;
}

button,
input {
  border-radius: 4px;
}

.contactFormBtn {
  cursor: pointer;
  border: none;
  color: #000;
  width: 100px;
  padding: 6px;
  background-color: gainsboro;
  margin: 0 auto;
  margin-top: 15px;
  transition: all 0.3s ease;
}
.contactFormBtn:hover {
  transform: scale(1.1);
}
